<div class="row">
	<div class="col-md-9">
		<h1 ng-bind="project.title"></h1>
		<p ng-bind="project.description"></p>
		<h3>Tražene sposobnosti:</h3>
		<p ng-bind="project.skills"></p>
		<h3>Dodatne informacije:</h3>
		<ul>
			<li>Početak projekta: {{ project.startDate }}</li>
			<li>Završetak projekta: {{ project.endDate }}</li>
			<li>Lokacija: {{ project.location }}</li>
		</ul>
	</div>
	<div class="col-md-3 text-center">
		<img src="http://placehold.it/100x100" alt="project owner image" class="img-circle">
		<br><br>
		<span class="label label-primary" ng-repeat="tag in project.tagsArray">{{ tag }}</span>
		<br><br>
		<project-user-actions for="project" ng-if="currentUser.id == project.userId" />
	</div>
</div>