<div class="row">
	<div class="col-md-9">
		<h1 ng-bind="project.title"></h1>
		<p ng-bind="project.description"></p>
		<h3>Tražene sposobnosti:</h3>
		<p ng-bind="project.skills"></p>
		<h3>Dodatne informacije:</h3>
		<ul>
			<li>Početak projekta: {{ project.startDate }}</li>
			<li>Završetak projekta: {{ project.endDate }}</li>
			<li>Lokacija: {{ project.location }}</li>
		</ul>
	</div>
	<div class="col-md-3 text-center" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
		<img src="http://placehold.it/100x100" alt="project owner image" class="img-circle">
		<br><br>
		<span class="label label-primary" ng-repeat="tag in project.tagsArray">{{ tag }}</span>
		<br><br>
		<project-user-actions for="project" ng-if="currentUser.id == project.userId" />
	</div>
</div>
<hr>
<div class="row" ng-controller="MessageFormController">
	<div class="col-md-12">
		<h3>Prijavi se za posao!</h3>
		<form name="messageForm" ng-submit="send(messageData)" novalidate>
			<div class="form-group" ng-class="{ 'has-error' : messageForm.fullname.$invalid && !messageForm.fullname.$pristine }">
				<label for="fullname">Ime i prezime</label>
				<input type="text" class="form-control" name="fullname" id="fullname" required ng-model="messageData.fullname">
			</div>
			<div class="form-group" ng-class="{ 'has-error' : messageForm.email.$invalid && !messageForm.email.$pristine }">
				<label for="email">Email</label>
				<input type="email" class="form-control" name="email" id="email" required ng-model="messageData.email">
			</div>
			<div class="form-group" ng-class="{ 'has-error' : messageForm.cv.$invalid && !messageForm.cv.$pristine }">
				<label for="cv">CV</label>
				<input type="text" class="form-control" name="cv" id="cv" required placeholder="http://" ng-model="messageData.cv">
			</div>
			<div class="form-group" ng-class="{ 'has-error' : messageForm.msg.$invalid && !messageForm.msg.$pristine }">
				<label for="msg">Poruka</label>
				<textarea class="form-control" name="msg" id="msg" rows="6" required ng-model="messageData.msg"></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary" ng-disabled="messageForm.$invalid">Pošalji</button>
			</div>
		</form>
	</div>
</div>