<div class="row">
	<!-- Main project details start -->
	<div class="col-md-9">
		<h1 ng-bind="project.title"></h1>
		<div ng-bind-html="project.descriptionParsed"></div>
		<h3 class="subtitle">Tražene sposobnosti:</h3>
		<div ng-bind-html="project.skillsParsed"></div>
		<h3 class="subtitle">Dodatne informacije:</h3>
		<ul>
			<li>Početak projekta: {{ project.startDate }}</li>
			<li>Završetak projekta: {{ project.endDate }}</li>
			<li>Lokacija: {{ project.location }}</li>
		</ul>
	</div>
	<!-- Main project details end -->
	<div class="col-md-3">
		<div class="project-user-pic">
			<img src="http://placehold.it/100x100" alt="project owner image" class="img-circle">
		</div>
		<p>
			{{ authorInfo.description }}
		</p>
		<ul>
			<li><a href="{{ authorInfo.website }}">Website</a></li>
			<li><a href="{{ authorInfo.facebook }}">Facebook</a></li>
		</ul>
		<project-user-actions for="project" ng-if="currentUser.id == project.userId"></project-user-actions>
		<div class="applications" ng-if="currentUser.id == project.userId" ng-controller="ApplicationsController">
			<h3>Zaprimljene prijave:</h3>
			<ul class="application-list">
				<li ng-repeat="msg in messages">
					<a href="#" data-toggle="modal" data-target="#application-modal" ng-click="applicationInfo(msg.id)">{{ msg.fullName }}</a>
				</li>
			</ul>
			<!-- Application info modal start -->
			<div class="modal fade" id="application-modal" tabindex="-1">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title">{{ message.fullName }}</h4>
			      </div>
			      <div class="modal-body">
			      	<strong>Poruka:</strong>
			        <p>
			        	{{ message.message }}
			        </p>
			        <ul>
			        	<li><a href="mailto:{{ message.email }}">Email</a></li>
			        	<li><a href="{{ message.CV }}">Životopis</a></li>
			        </ul>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="message = {}">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- Application info modal end -->
		</div>
	</div>
</div>
<hr>
<!-- Application form start -->
<div class="row" ng-controller="MessageFormController">
	<div class="col-md-12">
		<h3>Prijavi se za posao!</h3>
		<form name="messageForm" ng-submit="send(messageData)" novalidate>
			<div class="form-group" ng-class="{ 'has-error' : messageForm.fullname.$invalid && !messageForm.fullname.$pristine }">
				<label for="fullname">Ime i prezime</label>
				<input type="text" class="form-control" name="fullname" id="fullname" required ng-model="messageData.fullname">
			</div>
			<div class="form-group" ng-class="{ 'has-error' : messageForm.email.$invalid && !messageForm.email.$pristine }">
				<label for="email">Email</label>
				<input type="email" class="form-control" name="email" id="email" required ng-model="messageData.email">
			</div>
			<div class="form-group" ng-class="{ 'has-error' : messageForm.cv.$invalid && !messageForm.cv.$pristine }">
				<label for="cv">CV</label>
				<input type="text" class="form-control" name="cv" id="cv" required placeholder="http://" ng-model="messageData.cv">
			</div>
			<div class="form-group" ng-class="{ 'has-error' : messageForm.msg.$invalid && !messageForm.msg.$pristine }">
				<label for="msg">Poruka</label>
				<textarea class="form-control" name="msg" id="msg" rows="6" required ng-model="messageData.msg"></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary" ng-disabled="messageForm.$invalid">Pošalji</button>
			</div>
		</form>
	</div>
</div>
<!-- Application form end -->