<div class="alert alert-warning">
    <h4>Dummy admin information:</h4>
    <strong>Email:</strong> admin@admin.com<br>
    <strong>Password:</strong> admin123
</div>

<div class="row">
	<div class="col-md-8">
		Lista projekata
	</div>
	<div class="col-md-4">
		<div class="input-group">
			<input ng-model="titleFilter" type="search" placeholder="Pretraživanje..." class="form-control">
			<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-12">
		<div ng-repeat="project in projects | filter: titleFilter" class="panel panel-default">
		    <div class="panel-heading"><a href="/#/project/{{ project.id }}">{{ project.title }}</a> by {{ project.user }} on {{ project.date }}</div>
		    <div class="panel-body">
		        {{ project.description }}
		    </div>
		    <div class="panel-footer">
		    	<span ng-repeat="tag in project.tagsArray" class="label label-primary">{{ tag }}</span> in {{ project.category }}
		    </div>
		</div>
	</div>
</div>