<!-- <div class="alert alert-warning">
    <h4>Dummy admin information:</h4>
    <strong>Email:</strong> admin@admin.com<br>
    <strong>Password:</strong> admin123
</div> -->

<div class="row">
	<div class="col-md-12">
		<input type="search" placeholder="Pretraživanje otvorenih projekata..." class="projects-search" ng-model="projectsSearch">
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-jobbr" ng-repeat="project in projects | filter: { title: projectsSearch }">
		    <div class="panel-heading">
		    	<a href="/#/project/{{ project.id }}">{{ project.title }}</a>
		    	<small>by {{ project.user }} &dash; {{ project.date }}</small>
		    </div>
		    <div class="panel-body">
		        {{ project.description | words: 50 }}
		    </div>
		    <div class="panel-footer">
		    	<span class="project-tag" ng-repeat="tag in project.tagsArray">{{ tag }}</span>
		    </div>
		</div>
	</div>
</div>